    body{
        background: rgb(211, 173, 84);
        font: normal 16pt arial;
    }

    header{
        color:aliceblue;
        text-align:center;

    }

    section{
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 15px black;

    }

    footer{
        color: black;
        text-align: center;
        font-style:italic;

    }
